<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_style.css') }}">
    
</head>
<body>
    <h2>Create Account</h2>
    <form action="/register" method="post">
        <input type = 'text' name = 'username' placeholder = 'Username' required>
        <input type = 'password' name = 'password' placeholder = 'Password' required>
        <input type = 'password' name = 'confirm_password' placeholder = 'Confirm Password' required>
        <button type = 'submit'>Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>